@medium: 25em;

.state-code {
  font-size: 38px;
}

.state-card-container {
  margin: 1em;
}

.state-card {
  width: @medium;
  height: @medium;
  background-color: ;
}

.state-card-img {
  width: 18.2em;
  height: 7em;
}

.state-card-code {
  font-size: 2em;
}
