.mother-comment {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container {
    width: 60vw; 
    max-width: 60vw;
    border: 1px solid grey; 
    border-radius: 3px;
    margin: 15px 0 15px 0; 
}

.comment-title-container {
    border-bottom: 1px solid grey; 
    background-color: #2C3857; 
}

.comment-title {
    padding-top: 10px; 
    color: white; 
}

.comment-body-container {
    background-color: #f8f8ff; 
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-body {
    padding: 5px 10px;
    margin-bottom: 0;
}

.comment-user-container {
    background-color: #f8f8ff; 
    border-top: 1px solid grey; 
}

.comment-user {
    margin-bottom: 0; 
    padding: 7px 7px 10px 7px; 
}

.comment-date {
    color: grey; 
}







