/* .about-main-container {
    height: 100vh; 
    background-color: #2C3857;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.about-table {
    height: 70vh; 
    width: 65vw; 
    background-color: #f8f8ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.call-to-action a {
    padding: 0; 
    font-size: 35px; 
}

.about-p {
    color: white; 
    font-size: 25px; 
    padding: 40px; 
    margin: 0; 
}

.get {
    /* width: 100%; 
    height: 100%; */
    background-color: #203175; 
    width: 62vw; 
    height: 65vh; 
    display: inline-block; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid white; 
    border-radius: 5px; 
}

.post {
    background-color: #203175; 
    width: 62vw; 
    height: 65vh; 
    display: inline-block; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid white; 
    border-radius: 5px; 
}

.get-h4 {
    padding: 7vh; 
    color: #FFF000; 
    font-size: 20px; 
    margin: 0; 
}

.post-h4 {
    padding: 7vh; 
    color: #FFF000; 
    font-size: 20px; 
    margin: 0;
}

.about-divider {
    height: 10vh; 
}

.call-to-action:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */

/* Laptops */
@media (max-width: 1440px) {
    .get-h4, .post-h4 {
        font-size: 50px;
        /* margin-top: 85px;  */
        padding: 3vh; 
    }
    .about-table p {
        font-size: 18px; 
        margin: 0; 
        padding: 2px; 
    }
}

/* Small devices (iPhone X) < 414 px in width */
@media (max-width: 414px) {

    .get {
        width: 100vw; 
        height: 75vh; 
    }

    .get-h4 {
        padding: 0; 
        padding-top: 20px; 
    }

    .post {
        width: 100vw; 
        height: 75vh; 
    }

    .post-h4 {
        padding: 0; 
        padding-top: 20px; 
    }

    /* .get-h4, .post-h4 {
        font-size: 25px;
        margin: 0; 
        padding: 3vh; 
    }
    .about-table {
        display: flex; 
        flex-direction: column; 
        width: 100vw; 
        height: 75vh; 
    }
    .about-table p {
        font-size: 18px; 
        margin: 0; 
        padding: 2px; 
    } */


}

