.hero-main {
    background-color: #f8f8ff;
    height: 100vh; 
}

.hero {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 70vh; 
    width: 65vw; 
}

.divider {
    height: 50vh; 
}

/* MEDIA QUERIES  */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
    * {
        margin: 0; 
    }
    .hero {
        width: 100vw; 
    }
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */