nav {
    width: 100vw;
    height: 20vh; 
    background-color: #2C3857;
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white; 
    margin: 0 0 0 15px; 
  }
  
  .nav-list {
    display: flex; 
    list-style-type: none;
  }
  
  .nav-link {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
  }